
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pet Tinder</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header class="container">
    <div class="row">
      <div class="image-title">
        <h1>Pet Tinder</h1>
        <img class="logo-image" src="http://anyarena.com/public/upload/user_upload/magazine/8110/real_doge_resized.jpg" alt="Ninjas Stole This Image">
      </div>
    </div>
    <div class="title">
      <h4>Kia Ora</h4>
    </div>
  </header>

  <div class="container">

    <nav class="three-cols">
      <a class="link" href="/find-a-dog">Find Your Match</a>
      <a class="link" href="/dogs">All Dogs</a>
      <a class="link" href="/add-animal">Add a Dog</a>
    </nav>

    <div class="main-content">
      <div class="nine-cols">
        <div class="info">Something something something, <br>lots of words about random stuff.<br> Blah blah blah what's this app all about etc
        </div>

        <div class="animal-box">
          <div id="dog-box">
            <div id="dog-button">
              Dog img
            </div>
            <div id="all-dogs">
              All dogs button
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>


</body>


<footer>

</footer>


</html>
