
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pet Tinder</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header class="container">
  <div class="row">
    <div class="image-title">
      <h1>Pet Tinder</h1>
      <img class="logo-image" src="" alt="Ninjas Stole This Image">
    </div>
  </div>
  <div class="title">
    <h4>Kia Ora</h4>
  </div>

</header>

<div class="container">
  <nav class="three-cols">
    <a class="button" href="/">Home</a>
    <a class="button" href="/dogs">Available Dogs</a>
    <a class="button" href="">Contact Us</a>
  </nav>

  <div class="main-content">
    <div class="nine-cols">
      <div class="info">Something
      </div>
    </div>
  </div>




  <form="info"> Additional Info:<br>
    <input type="text" name="info">
  </form>

  <div>
    <form="subtotal">Subtotal
    </form>
    <form="submit">Submit
  </form>
  </div>

</div>





</body>



</html>
